__pycache__/
*.pyc
*.pyo
*.pyd

output/
outputs/
log/
logs/
wandb/
runs/

data/
dataset/
datasets/

checkpoints/
ckpt/
*.pt
*.pth
*.ckpt
*.bin

.env
venv/
.venv/
conda_env/
anaconda3/

.vscode/
.DS_Store
FedPHA-pipeline.jpg
